.tech-stack {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.card-footer {
  display: flex;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
